<div class="page-header">
  <h1><%= @list.list_name %></h1>
</div>
<p id="notice"><%= notice %></p>


<table>

  <thead>
    <span>Email</span>
  </thead>
  <tbody>
  <tr>
    <td>
      <span>Africa</span>
    </td>
    <td>
      <%= @list.africa %>
    </td>
  </tr>

  <tr>
    <td>
      <span>Asia</span>
    </td>
    <td>
      <%= @list.asia %>
    </td>
  </tr>

  <tr>
    <td>
      <span>Australia/NZ</span>
    </td>
    <td>
      <%= @list.aus_nz %>
    </td>
  </tr>

  <tr>
    <td>
      <span>Eastern Europe</span>
    </td>
    <td>
      <%= @list.eastern_europe %>
    </td>
  </tr>

  <tr>
    <td>
      <span>Middle East</span>
    </td>
    <td>
      <%= @list.middle_east %>
    </td>
  </tr>

  <tr>
    <td>
      <span>South America</span>
    </td>
    <td>
      <%= @list.south_america %>
    </td>
  </tr>

  <tr>
    <td>
      <span>USA / Canada</span>
    </td>
    <td>
      <%= @list.usa_can %>
    </td>
  </tr>

  <tr>
    <td>
      <span>United Kingdom</span>
    </td>
    <td>
      <%= @list.united_kingdom %>
    </td>
  </tr>

  <tr>
    <td>
      <span>Western Europe</span>
    </td>
    <td>
      <%= @list.western_europe %>
    </td>
  </tr>

  <tr class="total">
    <td>
      <span>Total</span>
    </td>
    <td>
      <%= @list.total %>
    </td>
  </tr>

  </tbody>
</table>




<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
