<div class="page-header">
  <h1>Pages Index</h1>
</div>

<div class="row">
  <div class="medium-6 columns">
    <% @pages.each do |page| %>
    <h4><%= page.title %></h4>
    <em>Slug:</em> <strong><%= page.slug %></strong>
    <p><%= page.primary_content %>
      <br>
      <%= page.secondary_content %>
    </p>
    <%= link_to 'Edit', edit_page_path(page) %>
    <%= link_to 'Delete', page, method: :delete, data: { confirm: 'Are you sure?' } %>
    <hr>
    <% end %>
  </div>
</div>
