<!DOCTYPE html>
<html>
<head>
  <title>Medlist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="https://use.fontawesome.com/81742820d0.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render "partials/header" %>

  <% if current_user %>
    <%= render "partials/admin_bar" %>
  <% end %>
    <!-- <p class="notice"><%= notice %></p> -->
     <!-- <p class="alert"><%= alert %></p> -->
  <%= yield %>
  <%= render "partials/footer" %>

</body>
</html>
